body, html {
    height: 100%;
  }
body {
  /* The image used */
  background-image: url("./img/background.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kore-chat-window .kore-chat-header {
    background: #1876cd;
    color: #fff;
}
.kore-chat-window.minimize .minimized {    
    background: #1876cd;
}
.kore-chat-window.minimize .minimized-title {
    background: #2a4865;
}
.logo-m {
    text-align: center;
    display: block;
    margin-bottom: 15px;
   
}
.logo-m span {
    background: url('./img/logo2a1.png') no-repeat;
    width: 90px;
    height: 70px;
    display: block;
    margin: 0 auto;
}
/* Login Header */
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block {
    background: #1876cd;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #7db2e3, #1876cd);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #7db2e3, #1876cd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 41px 0;
z-index: 99999999;
position: relative;
}
.banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 30px 30px 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #1876cd;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#78afe2; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #1876cd; color:#fff; font-weight:600;}
.btn-login:hover {
    color: #fff; background: #0a5ca8;
}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}

.custom-theme .kore-chat-window .kore-chat-header .chat-box-controls .reload-btn,
 .custom-theme .kore-chat-window .kore-chat-header .chat-box-controls .minimize-btn, 
 .custom-theme .kore-chat-window .kore-chat-header .chat-box-controls .expand-btn, 
 .custom-theme .kore-chat-window .kore-chat-header .chat-box-controls .close-btn {
    filter: opacity(0.5);
}
.powered-by {
    color: #999;
    font-size: 11px;
}


.kore-chat-window ul.chat-container li.fromCurrentUser .messageBubble,
.checkboxBtn,
.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #1876cd;
}
.kore-chat-window .buttonTmplContent .buttonTmplContentChild .quickReply {
  border: 1px solid #1876cd;
  color: #1876cd;
}


#first_form label {
    display: inline-block;
    width: 100px;
  }
  
  #first_form div {
    margin-bottom: 10px;
  }
  
  .error {
    color: red;
    margin-left: 5px;
  }
  
  label.error {
    display: inline;
  }